html,
body,
main {
    height: 100%;
    background: #eee;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

dt {
    margin-bottom: 1em;
}

form {
    margin: 2em 0;
}

.map {
    height: 100%;
}

[info-button] {
    margin-right: 1em;
}
