<h2>Estimated location</h2>

<dl class="dl-horizontal">
	<dt>IP</dt>
	<dd>
		<span info-button field="'IP'" ng-if="EstimatedLocationVM.currentLocation.query"></span>
		{{ EstimatedLocationVM.currentLocation.query || '0.0.0.0' }}
	</dd>

	<dt>Country</dt>
	<dd>
		<span info-button field="'Country'" ng-if="EstimatedLocationVM.currentLocation.country"></span>
		{{ EstimatedLocationVM.currentLocation.country }}
	</dd>

	<dt>Region</dt>
	<dd>
		<span info-button field="'Region'" ng-if="EstimatedLocationVM.currentLocation.regionName"></span>
		{{ EstimatedLocationVM.currentLocation.regionName }}
	</dd>

	<dt>City</dt>
	<dd>
		<span info-button field="'City'" ng-if="EstimatedLocationVM.currentLocation.city"></span>
		{{ EstimatedLocationVM.currentLocation.city }}
	</dd>

	<dt>Time Zone</dt>
	<dd>
		<span info-button field="'Time Zone'" ng-if="EstimatedLocationVM.currentLocation.timezone"></span>
		{{ EstimatedLocationVM.currentLocation.timezone }}
	</dd>

	<dt>Latitude</dt>
	<dd>
		<span info-button field="'Latitude'" ng-if="EstimatedLocationVM.currentLocation.lat"></span>
		{{ EstimatedLocationVM.currentLocation.lat }}
	</dd>

	<dt>Longitude</dt>
	<dd>
		<span info-button field="'Longitude'" ng-if="EstimatedLocationVM.currentLocation.lon"></span>
		{{ EstimatedLocationVM.currentLocation.lon }}
	</dd>
</dl>

<button id="btnFindMyLocation" class="btn btn-info" ng-click="EstimatedLocationVM.getCurrentLocation()">
	My Location
</button>

<button id="btnResetMyLocation" class="btn btn-danger" ng-click="EstimatedLocationVM.resetCurrentLocation()">
	Reset Location
</button>
