<form id="frmLocationSearch" ng-controller="SearchLocationController as SearchLocationVM">
	<label for="txtUrl">Website Address</label>

	<div class="input-group">
		<input type="text" id="txtUrl" class="form-control" placeholder="Ex.: google.com"
		ng-model="SearchLocationVM.searchFilter.hostname"
		ng-pattern="/^(?:[w{3}]+\.){0,1}(?:[a-zA-Z0-9][a-zA-Z0-9-]+){1}(?:\.[a-zA-Z]{2,6})+$/">
		<span class="input-group-btn">
			<button class="btn btn-default" type="button" ng-click="SearchLocationVM.locateWebsite()"
			ng-disabled="!SearchLocationVM.searchFilter.hostname || SearchLocationVM.searchFilter.isSearching">
				<span ng-if="!SearchLocationVM.searchFilter.isSearching">Locate</span>
				<span ng-if="SearchLocationVM.searchFilter.isSearching">Locating</span>
			</button>
		</span>
	</div>
</form>
